img {
    width: 30%;
    float: left;
    margin: 1.66%;
}
h1 {
    font-family: Raleway;
    border-bottom: 0.5px solid lightgray;
    width: 350px;
    padding-bottom: 40px;
    margin-left: 15px;
    


}